header
    div(class="hero-container")
        div(class="hero-cover-image")
        div(class="hero-image")
        span(class="hero-title") Nate Schulz
        span(class="hero-subtitle") Simplifying Development at Amazon Appstore
    include nav