<div class="article-container">
    <article>

        {{>partials/section}}
          <div class="content">
              <p class=" description summary">
                  I am a software engineer with a design background who thrives in small business and excels in large companies. Regardless of the challenge in front of me, I'm driven by my experience as a musician. Performing on stage gives me the audacity to try new things while a foundation in math and science provides me the tenacity to finish what I start. I received my bachelor of science degree in Physics from the University of Nebraska - Lincoln, in 2009. I started my professional career as an interactive media producer in 2004. My desire is to work with a team of individuals who are as inspired as me to deliver cutting-edge experiences.<br>
                  <br>
                  <br>
                  Specialties: Strong leader, communication, public speaking, presentation
              </p>
          </div>
          <div class="header">
              <h2>
                  Education
              </h2>
          </div>
          <div class="content vcalendar">
              <div>
                  <div class="position  first education vevent vcard" id="15902088">
                      <h3 class="summary fn org">
                          <a href="http://linkedin.com/edu/university-of-nebraska-lincoln-18836">University of Nebraska-Lincoln</a>
                      </h3>
                      <h4 class="details-education">
                          <span class="degree">BS</span>,
                          <span class="major">
                          Physics, Mathematics </span>
                      </h4>
                      <p class="period">
                          <abbr class="dtstart" title="2004-01-01">2004</abbr> – <abbr class="dtend" title="2009-12-31">2009</abbr>
                      </p>
                      <p class=" desc details-education"></p>
                  </div>
                  <div class="position  education vevent vcard" id="15902269">
                      <h3 class="summary fn org">
                          <a href="http://linkedin.com/edu/southeast-community-college-20283">Southeast Community College</a>
                      </h3>
                      <h4 class="details-education"></h4>
                      <p class="period">
                          <abbr class="dtstart" title="2006-01-01">2006</abbr> – <abbr class="dtend" title="2007-12-31">2007</abbr>
                      </p>
                      <p class=" desc details-education"></p>
                  </div>
              </div>
          </div>
          <div class="header">
              <h2>{{experience.title}}</h2>
          </div>
          <div class="content">
          {{#experience.items}}
            {{>partials/section}}
          {{/experience.items}}
          </div>
          <!--<div class="content vcalendar">-->
              <!--<div>-->
                  <!--<div>-->
                      <!--<div class="position  first experience vevent vcard summary-current" style="display:block">-->
                          <!--<a class="include" href="#name"></a>-->
                          <!--<div class="postitle">-->
                              <!--<h3 class="false">-->
                                  <!--<span class="title">Software Development Engineer II</span>-->
                              <!--</h3>-->
                              <!--<h4><strong>-->
                                  <!--<a class="company-profile-public" href="http://linkedin.com/company/amazon?trk=ppro_cprof"><span class="org summary">Amazon</span></a>-->
                                  <!--</strong>-->
                              <!--</h4>-->
                          <!--</div>-->
                          <!--<p class="orgstats organization-details current-position">-->
                              <!--Public Company; 10,001+ employees; AMZN;-->
                              <!--Internet industry-->
                          <!--</p>-->
                          <!--<p class="period">-->
                              <!--<abbr class="dtstart" title="2014-04-01">April 2014</abbr>-->
                              <!--– <abbr class="dtstamp" title="2014-09-28">Present</abbr>-->
                              <!--<span class="duration"><span class="value-title" title="P6M"> </span>(6 months)</span>-->
                              <!--<span class="location">orange county area, california</span>-->
                          <!--</p>-->
                          <!--<p class=" description current-position">-->
                              <!--As a "level two" at Appstore, my responsibilities have grown to include:<br>-->
                              <!--• Driving design and consensus for front-end interface components of Appstore<br>-->
                              <!--• Performing regular candidate phone screens and on-site interviews<br>-->
                              <!--• Enforcing reusable, and testable JavaScript design patterns<br>-->
                              <!--• Optimizing rendering performance - time to first-paint, file sizes, asset delivery, etc.<br>-->
                              <!--• Unifying all dialogs in Appstore by creating common dialog framework<br>-->
                              <!--• Onboarding new hires-->
                          <!--</p>-->
                      <!--</div>-->
                      <!--<div class="position   experience vevent vcard summary-past" style="display:block">-->
                          <!--<a class="include" href="#name"></a>-->
                          <!--<div class="postitle">-->
                              <!--<h3 class="false">-->
                                  <!--<span class="title">Web Development Engineer</span>-->
                              <!--</h3>-->
                              <!--<h4><strong>-->
                                  <!--<a class="company-profile-public" href="http://linkedin.com/company/amazon?trk=ppro_cprof"><span class="org summary">Amazon</span></a>-->
                                  <!--</strong>-->
                              <!--</h4>-->
                          <!--</div>-->
                          <!--<p class="orgstats organization-details past-position">-->
                              <!--Public Company; 10,001+ employees; AMZN;-->
                              <!--Internet industry-->
                          <!--</p>-->
                          <!--<p class="period">-->
                              <!--<abbr class="dtstart" title="2012-10-01">October 2012</abbr>-->
                              <!--– <abbr class="dtend" title="2014-04-01">April 2014</abbr> <span class="duration"><span class="value-title" title="P1Y7M"> </span>(1 year 7 months)</span>-->
                              <!--<span class="location">Orange County, California Area</span>-->
                          <!--</p>-->
                          <!--<p class=" description past-position">-->
                              <!--In my first year at Appstore, I learned a lot about maintaining a production codebase. Risks that seemed trivial in a startup environment became subject to greater scrutiny.<br>-->
                              <!--<br>-->
                              <!--My responsibilities included:<br>-->
                              <!--• Scaling existing theme infrastructure (5x) to support the rapidly growing number of App Store experiences<br>-->
                              <!--• Designing simplified asset delivery for improved performance and shortened development time<br>-->
                              <!--• JavaScript cleanup and organization<br>-->
                              <!--• Web accessibility features (aria labels, screen reader support, etc.)<br>-->
                              <!--• Assisting in production deployments<br>-->
                              <!--• Bringing my experience with webkit layers to improve interactions (60fps initiative)<br>-->
                              <!--• Maintain UI styles and scaling across a large range of devices from 320x480 to 2560x1440 over networks ranging from spotty 2G cellular networks to robust wi-fi networks-->
                          <!--</p>-->
                      <!--</div>-->
                      <!--<div class="position   experience vevent vcard summary-past" style="display:block">-->
                          <!--<a class="include" href="#name"></a>-->
                          <!--<div class="postitle">-->
                              <!--<h3 class="false">-->
                                  <!--<span class="title">Owner</span>-->
                              <!--</h3>-->
                              <!--<h4><strong>-->
                                  <!--<a class="company-profile-public" href="http://linkedin.com/company/theoretical-media?trk=ppro_cprof"><span class="org summary">Theoretical Media</span></a>-->
                                  <!--</strong>-->
                              <!--</h4>-->
                          <!--</div>-->
                          <!--<p class="orgstats organization-details past-position">-->
                              <!--Privately Held; 1-10 employees;-->
                              <!--Media Production industry-->
                          <!--</p>-->
                          <!--<p class="period">-->
                              <!--<abbr class="dtstart" title="2009-08-01">August 2009</abbr>-->
                              <!--– <abbr class="dtend" title="2013-03-01">March 2013</abbr> <span class="duration"><span class="value-title" title="P3Y8M"> </span>(3 years 8 months)</span>-->
                          <!--</p>-->
                          <!--<p class=" description past-position">-->
                              <!--I design and develop software for iOS mobile devices as well as develop web applications for both desktop and mobile platforms.-->
                          <!--</p>-->
                      <!--</div>-->
                  <!--</div>-->
                  <!--<div>-->
                      <!--<div class="position   experience vevent vcard summary-past" style="display:block">-->
                          <!--<a class="include" href="#name"></a>-->
                          <!--<div class="postitle">-->
                              <!--<h3 class="false">-->
                                  <!--<span class="title">Lead Front-End Web Architect</span>-->
                              <!--</h3>-->
                              <!--<h4><strong>-->
                                  <!--<a class="company-profile-public" href="http://linkedin.com/company/green-vision-media?trk=ppro_cprof"><span class="org summary">Green Vision Media</span></a>-->
                                  <!--</strong>-->
                              <!--</h4>-->
                          <!--</div>-->
                          <!--<p class="orgstats organization-details past-position">-->
                              <!--Privately Held; 11-50 employees;-->
                              <!--Information Technology and Services industry-->
                          <!--</p>-->
                          <!--<p class="period">-->
                              <!--<abbr class="dtstart" title="2011-01-01">January 2011</abbr>-->
                              <!--– <abbr class="dtend" title="2012-10-01">October 2012</abbr> <span class="duration"><span class="value-title" title="P1Y10M"> </span>(1 year 10 months)</span>-->
                              <!--<span class="location">Montreal, Canada Area</span>-->
                          <!--</p>-->
                          <!--<p class=" description past-position">-->
                              <!--I worked as a consultant on GVM’s elite team for 18 months developing in-house web applications built using a branch of my own JavaScript framework. The framework powers GVM's unique web experiences on desktop and mobile devices.-->
                          <!--</p>-->
                      <!--</div>-->
                  <!--</div>-->
                  <!--<div>-->
                      <!--<div class="position   experience vevent vcard summary-past" style="display:block">-->
                          <!--<a class="include" href="#name"></a>-->
                          <!--<div class="postitle">-->
                              <!--<h3 class="false">-->
                                  <!--<span class="title">Live Event Switcher/Camera Operator</span>-->
                              <!--</h3>-->
                              <!--<h4><strong>-->
                                  <!--<span class="org summary">Mid America Video Images</span>-->
                                  <!--</strong>-->
                              <!--</h4>-->
                          <!--</div>-->
                          <!--<p class="orgstats organization-details past-position"></p>-->
                          <!--<p class="period">-->
                              <!--<abbr class="dtstart" title="2002-06-01">June 2002</abbr>-->
                              <!--– <abbr class="dtend" title="2012-10-01">October 2012</abbr> <span class="duration"><span class="value-title" title="P10Y5M"> </span>(10 years 5 months)</span>-->
                              <!--<span class="location">Lincoln, Nebraska Area</span>-->
                          <!--</p>-->
                          <!--<p class=" description past-position">-->
                              <!--My responsibilities at Mid America initially included equipment setup/teardown, camera operating, and post-production editing. Eventually, I began switching for live events to be recorded and projected live on large format screens.-->
                          <!--</p>-->
                      <!--</div>-->
                  <!--</div>-->
                  <!--<div>-->
                      <!--<div class="position   experience vevent vcard summary-past" style="display:block">-->
                          <!--<a class="include" href="#name"></a>-->
                          <!--<div class="postitle">-->
                              <!--<h3 class="false">-->
                                  <!--<span class="title">UI Prototyper</span>-->
                              <!--</h3>-->
                              <!--<h4><strong>-->
                                  <!--<a class="company-profile-public" href="http://linkedin.com/company/pen-link?trk=ppro_cprof"><span class="org summary">Pen-Link</span></a>-->
                                  <!--</strong>-->
                              <!--</h4>-->
                          <!--</div>-->
                          <!--<p class="orgstats organization-details past-position">-->
                              <!--Privately Held; 51-200 employees;-->
                              <!--Computer Software industry-->
                          <!--</p>-->
                          <!--<p class="period">-->
                              <!--<abbr class="dtstart" title="2010-05-01">May 2010</abbr>-->
                              <!--– <abbr class="dtend" title="2011-01-01">January 2011</abbr> <span class="duration"><span class="value-title" title="P9M"> </span>(9 months)</span>-->
                          <!--</p>-->
                      <!--</div>-->
                  <!--</div>-->
                  <!--<div>-->
                      <!--<div class="position   experience vevent vcard summary-past" style="display:block">-->
                          <!--<a class="include" href="#name"></a>-->
                          <!--<div class="postitle">-->
                              <!--<h3 class="false">-->
                                  <!--<span class="title">Lead Innovator</span>-->
                              <!--</h3>-->
                              <!--<h4><strong>-->
                                  <!--<a class="company-profile-public" href="http://linkedin.com/company/nanonation?trk=ppro_cprof"><span class="org summary">Nanonation</span></a>-->
                                  <!--</strong>-->
                              <!--</h4>-->
                          <!--</div>-->
                          <!--<p class="orgstats organization-details past-position">-->
                              <!--Privately Held; 11-50 employees;-->
                              <!--Computer Software industry-->
                          <!--</p>-->
                          <!--<p class="period">-->
                              <!--<abbr class="dtstart" title="2006-09-01">September 2006</abbr>-->
                              <!--– <abbr class="dtend" title="2009-08-01">August 2009</abbr> <span class="duration"><span class="value-title" title="P3Y"> </span>(3 years)</span>-->
                          <!--</p>-->
                          <!--<p class=" description past-position">-->
                              <!--Responsibilities include: Interface Design &amp; Research, 3D Animation &amp; Modeling, Video Production, Web Development (CSS, XHTML, PHP, MySQL, JavaScript, Flash, XML), Hardware &amp; Software Development, Client Communication...-->
                          <!--</p>-->
                      <!--</div>-->
                  <!--</div>-->
                  <!--<div>-->
                      <!--<div class="position   experience vevent vcard summary-past" style="display:block">-->
                          <!--<a class="include" href="#name"></a>-->
                          <!--<div class="postitle">-->
                              <!--<h3 class="false">-->
                                  <!--<span class="title">Associate Producer</span>-->
                              <!--</h3>-->
                              <!--<h4><strong>-->
                                  <!--<a class="company-profile-public" href="http://linkedin.com/company/nanonation?trk=ppro_cprof"><span class="org summary">Nanonation</span></a>-->
                                  <!--</strong>-->
                              <!--</h4>-->
                          <!--</div>-->
                          <!--<p class="orgstats organization-details past-position">-->
                              <!--Privately Held; 11-50 employees;-->
                              <!--Computer Software industry-->
                          <!--</p>-->
                          <!--<p class="period">-->
                              <!--<abbr class="dtstart" title="2004-06-01">June 2004</abbr>-->
                              <!--– <abbr class="dtend" title="2006-08-01">August 2006</abbr> <span class="duration"><span class="value-title" title="P2Y3M"> </span>(2 years 3 months)</span>-->
                          <!--</p>-->
                          <!--<p class=" description past-position">-->
                              <!--Responsibilities: Interface Design, 3D Animation &amp; Modeling, Video Production, Web Development (CSS, XHTML, Flash), DVD Authoring, Client Communication-->
                          <!--</p>-->
                      <!--</div>-->
                  <!--</div>-->
                  <!--<div>-->
                      <!--<div class="position   experience vevent vcard summary-past" style="display:block">-->
                          <!--<a class="include" href="#name"></a>-->
                          <!--<div class="postitle">-->
                              <!--<h3 class="false">-->
                                  <!--<span class="title">Student Tech</span>-->
                              <!--</h3>-->
                              <!--<h4><strong>-->
                                  <!--<a class="company-profile-public" href="http://linkedin.com/company/lincoln-public-schools?trk=ppro_cprof"><span class="org summary">Lincoln Public Schools</span></a>-->
                                  <!--</strong>-->
                              <!--</h4>-->
                          <!--</div>-->
                          <!--<p class="orgstats organization-details past-position">-->
                              <!--Educational Institution; 1001-5000 employees;-->
                              <!--Education Management industry-->
                          <!--</p>-->
                          <!--<p class="period">-->
                              <!--<abbr class="dtstart" title="2002-06-01">June 2002</abbr>-->
                              <!--– <abbr class="dtend" title="2004-06-01">June 2004</abbr> <span class="duration"><span class="value-title" title="P2Y1M"> </span>(2 years 1 month)</span>-->
                          <!--</p>-->
                      <!--</div>-->
                  <!--</div>-->
              <!--</div>-->
          <!--</div>-->
          <div class="header">
              <h2>Projects</h2>
          </div>
          <div class="content">
              <ul class="projects documents">
                  <li class="project first">
                      <h3>
                          <a href="http://linkedin.com/redir/redirect?url=https%3A%2F%2Fgithub%2Ecom%2Fnschulz%2Fyoutube-api&amp;urlhash=_Hf-" target="_blank" title="New window will open" name="projectsite" class="url">
                          YouTube API JS Exercise
                          </a>
                      </h3>
                      <div class="attribution"> Team Members:
                          <a href="https://www.linkedin.com/profile/view?id=19477427&amp;authType=name&amp;authToken=W7yv&amp;goback=%2Enppvan_nschulz&amp;trk=member">Nate Schulz</a>
                      </div>
                      <div>
                          <p class=" ''" id="yui-gen1">
                              My first experiment working with Backbone.
                          </p>
                          <script id="controlinit-http-12248-exec-12658256-1" type="text/javascript+initialized" class="li-control">LI.i18n.register('ShowMore-see-more','more');LI.i18n.register('ShowMore-see-less','less');LI.i18n.register('ShowMore-see-more-long','Show more');LI.i18n.register('ShowMore-see-less-long','Show less');LI.Controls.addControl('control-http-12248-exec-12658256-1','ShowMore',{charCount:400});</script>
                      </div>
                  </li>
              </ul>
          </div>
          <div class="header">
              <h2>Certifications</h2>
          </div>
          <div class="content">
              <ul class="certifications documents">
                  <li class="certification first">
                      <h3>
                          Apple Certified Associate Mac Integration 10.8
                      </h3>
                      <ul class="specifics">
                          <li><span class="dtstart">September 2012</span></li>
                      </ul>
                  </li>
              </ul>
          </div>
          <div class="header">
              <h2>Skills &amp; Expertise</h2>
          </div>
          <div class="content">
              <ol class="skills" id="skills-list">
                  <li class="competency show-bean  ">
                      <span class="jellybean">
                      JavaScript
                      </span>
                  </li>
                  <li class="competency show-bean  ">
                      <span class="jellybean">
                      HTML5
                      </span>
                  </li>
                  <li class="competency show-bean  ">
                      <span class="jellybean">
                      Advanced CSS
                      </span>
                  </li>
                  <li class="competency show-bean  ">
                      <span class="jellybean">
                      PHP
                      </span>
                  </li>
                  <li class="competency show-bean  ">
                      <span class="jellybean">
                      Video Compression
                      </span>
                  </li>
                  <li class="competency show-bean  ">
                      <span class="jellybean">
                      Video Editing
                      </span>
                  </li>
                  <li class="competency show-bean  ">
                      <span class="jellybean">
                      Digital Photography
                      </span>
                  </li>
                  <li class="competency show-bean  ">
                      <span class="jellybean">
                      Interaction Design
                      </span>
                  </li>
                  <li class="competency show-bean  ">
                      <span class="jellybean">
                      User Experience
                      </span>
                  </li>
                  <li class="competency show-bean  ">
                      <span class="jellybean">
                      Mobile Applications
                      </span>
                  </li>
                  <li class="competency show-bean  ">
                      <span class="jellybean">
                      Web Design
                      </span>
                  </li>
                  <li class="competency show-bean  ">
                      <span class="jellybean">
                      Web Development
                      </span>
                  </li>
                  <li class="competency show-bean  ">
                      <span class="jellybean">
                      Digital Image Processing
                      </span>
                  </li>
                  <li class="competency show-bean  ">
                      <span class="jellybean">
                      Product Development
                      </span>
                  </li>
                  <li class="competency show-bean  ">
                      <span class="jellybean">
                      Apple Certified
                      </span>
                  </li>
                  <li class="competency show-bean  ">
                      <span class="jellybean">
                      HTML 5
                      </span>
                  </li>
                  <li class="competency show-bean  ">
                      <span class="jellybean">
                      User Interface Design
                      </span>
                  </li>
                  <li class="competency show-bean  ">
                      <span class="jellybean">
                      OS X
                      </span>
                  </li>
                  <li class="competency show-bean  ">
                      <span class="jellybean">
                      Mobile Devices
                      </span>
                  </li>
                  <li class="competency show-bean  ">
                      <span class="jellybean">
                      CSS
                      </span>
                  </li>
                  <li class="competency show-bean  extra-skill">
                      <span class="jellybean">
                      Web Applications
                      </span>
                  </li>
                  <li class="competency show-bean  extra-skill">
                      <span class="jellybean">
                      User Interface
                      </span>
                  </li>
                  <li class="competency show-bean  extra-skill">
                      <span class="jellybean">
                      Front-end
                      </span>
                  </li>
                  <li class="competency show-bean  extra-skill">
                      <span class="jellybean">
                      Git
                      </span>
                  </li>
                  <li class="competency show-bean  extra-skill">
                      <span class="jellybean">
                      Perl
                      </span>
                  </li>
                  <li class="competency show-bean  extra-skill">
                      <span class="jellybean">
                      Adobe Creative Suite
                      </span>
                  </li>
                  <li class="competency show-bean  extra-skill">
                      <span class="jellybean">
                      JSON
                      </span>
                  </li>
                  <li class="competency show-bean  extra-skill">
                      <span class="jellybean">
                      General Awesomeness
                      </span>
                  </li>
                  <li class="competency show-bean  extra-skill">
                      <span class="jellybean">
                      Software Development
                      </span>
                  </li>
                  <li class="competency show-bean  extra-skill">
                      <span class="jellybean">
                      MySQL
                      </span>
                  </li>
                  <li class="competency show-bean  extra-skill">
                      <span class="jellybean">
                      XML
                      </span>
                  </li>
                  <li class="competency show-bean  extra-skill">
                      <span class="jellybean">
                      OOP
                      </span>
                  </li>
                  <li class="competency show-bean  extra-skill">
                      <span class="jellybean">
                      XHTML
                      </span>
                  </li>
              </ol>
          </div>
          <div class="header">
              <h2>Additional Information</h2>
          </div>
          <div class="content">
              <dl>
                  <dt class="interests" style="display:block">Interests:</dt>
                  <dd class="interests" id="interests" style="display:block">
                      <p class="">
                          Interactive Media, Film &amp; Video, Physics and Astronomy, Electronics 
                      </p>
                  </dd>
                  <dt class="pubgroups" style="display:block">Groups and Associations:</dt>
                  <dd class="pubgroups" id="pubgroups" style="display:block">
                      <p class="null">
                          Apple Certified Associate 
                      </p>

                  </dd>
                  <dt class="honors" style="display:block">Honors and Awards:</dt>
                  <dd class="honors" style="display:block">
                      <p class=" ''">
                          Nebraska Digital Media Student of the Year, Apple, Inc., 2004
                      </p>
                  </dd>
              </dl>
          </div>
    </article>
</div>