body {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-family: 'Source Sans Pro', "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #cdcdcd;
}

a {
    color: #00B7FF;
}
.article-container {
    width: 70%;
    margin: 0 auto;
    max-width: 1100px;
    margin-top: -150px;
    position: relative;
}
article {
    background: rgba(245,245,245,1.0);
    border-radius: 8px;
    padding: 50px;
    box-shadow: inset 0 0 50px white;
}
/* @group Header Sidebar */

header {
    background-image: -webkit-gradient(linear, left top, left bottom,
                                        color-stop(0.0, rgba(0,0,0,0.1)),
                                        color-stop(0.4, rgba(0,0,0,0.7)),
                                        color-stop(1.0, rgba(0,0,0,0.8)));
    width: 100%;
    height: 500px;
    position: relative;
    color: #fff;
    text-align: center;
}

.hero-cover-image {
    background-image: url(../images/santa_monica_beach_blurred_half.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.hero-container {
    padding: 10px;
    padding-top: 50px;
}
.hero-image {
    box-shadow: 0 1px 5px rgba(0,0,0,0.35);
    height: 120px;
    width: 120px;
    border: 1px solid white;
    border-radius: 100px;
    background-image: url(https://media.licdn.com/mpr/mpr/shrink_200_200/p/4/000/174/284/2d12713.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto 10px;
}
.hero-title {
    color: #fff;
    font-family: 'Maven Pro';
    text-shadow: 0 1px 3px rgba(0,0,0,0.65);
    text-align: center;
    display: block;
    font-family: 'Titillium Web', sans-serif;
    font-size: 36px;
}
header nav {
    text-align: center;
    padding: 10px;
}
header a {
    color: #fff;
    display: inline-block;
    padding: 8px 16px;
    margin: 5px 0;
    border-radius: 50px;
    border: 1px solid white;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
}

nav > a:hover {
    background-color: rgba(255,255,255,0.1);
}

/* @end header sidebar */

footer {
    padding-top: 20px;
    text-align: center;
}

@media (max-width: 1024px) {
    .article-container {
        width: 80%;
    }
}

@media (max-width: 640px) {
    header {
        height: 150px;
    }

    header::before {
        content: "- - -";
        width: 28px;
        font-weight: bold;
        font-size: 42px;
        line-height: 8px;
        display: block;
        color: #def;
        position: absolute;
        margin-top: 12px;
        margin-left: 10px;
        padding: 2px 5px 8px;
        border: 1px solid #def;
        border-radius: 4px;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
        box-shadow: inset 0 -1px 0 rgba(0,0,0,0.3);
    }

    .hero-container {
        margin: 0;
        padding: 5px;
    }
    .hero-image {
        padding: 0;
        height: 44px;
        width:  44px;
        margin: 0;
        margin-right: 8px;
        margin-left: 10px;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        right: 0;
    }
    .hero-title {
        display: inline-block;
        vertical-align: middle;
        font-size: 32px;
        text-align: center;
        width: 100%;
    }

    .article-container {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
    }

    article {
        border-radius: 0;
        padding: 3%;
    }

    footer {
        width: 100%;
        margin-left: 0;
    }
}
